/* @import "~bootstrap/dist/css/bootstrap.min.css"; */

*{
  box-sizing: border-box;
  margin:0;
  padding: 0;
}

.dropdown_consultants {
  max-height: 300px;
  overflow: scroll;
}

.text-require {
  font-size: 12px !important;
}

.background_home_map{
  background-color: #e9624f;
  padding: 0;
  margin:0;
}

.home_images{
  background-color: #dac0dd;
}

.footer{
  min-height: 30vh;
}

/* Color de fondo botón del formulario organismos */
.btn_institutions-submit{
  background-color: #e9624f !important;
}
.btn_institutions-submit:hover{
  background-color: #ec503b !important;
}

/* Color de fondo botón del formulario consultores */
.btn_consultants-submit{
  background-color: #7ec5ec !important;
}
.btn_consultants-submit:hover{
  background-color: #64c0f1 !important;
}

/* sección logo dobiddo organismos */
.section_logo_dobiddo-institutions{
  height:150px;
  align-content: center;
  background-color: #e9624f;
}

/* sección logo dobiddo consultores */
.section_logo_dobiddo-consultants{
  height:150px;
  align-content: center;
  background-color: #7ec5ec;
}

.shadow-lg-responsive {
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175) !important;
}

.link_webpass{
  text-decoration: none;
  color:lightgray;
}

.link_webpass:hover{
  color:rgb(156, 154, 154);
}

/* imágen making bids succeed seccion: nosotros  */
.about-makingBids{
  width:25%;
}

/* imágen pantuflas seccion: nosotros  */
.about-slippers{
  width: 15%;
}

/* color de fondo de sección Que hacemos? - imagen paris + texto */
.company_paris_background{
  background-color: #7ec5ec;
}

/* Imagen Paris - sección Qué hacemos */
.company_img-paris{
  width:50%;
}
/* Imágen frase - sección Qué hacemos */
.company_img-message{
  width:50%;
}

/* Botones search convocatorias */
.btn_calls-search{
  background-color: #e9624f !important;
}
.btn_calls-search:hover{
  background-color: #df5442 !important;
}

/* Botón volver a convocatorias */
.btn_call-back{
  background-color: #dac0dd !important;
}
.btn_call-back:hover{
  background-color: #e3afe7 !important;
}

/* Convocatorias - Cards */
.calls_cards{
  text-decoration: none;
}

/* Efecto hover cards */
.calls_cards:hover{
  background-color: rgba(235, 234, 234,0.4);
  border-radius: 5px;
}
/* colores botones cards de convocatorias - Dedicación y formato */
.btn_calls-dedication{
  background-color: #e9624f !important;
}

.btn_calls-format{
  background-color: #dac0dd !important;
}

/* Links compartir redes sociales */
.calls_share{
  text-decoration: none;
}

.calls_share:hover{
  opacity:0.8;
}

/* color de fondo de convocatorias banner - antes del footer */
.calls_banner{
  background-color: #e9624f;
}
/* Tamaño imagen mensage banner convocatorias */
.calls_banner-images{
  width:50%;
}


/* Resoluciones medianas */
@media (max-width:992px){
  /* Imágen Paris - sección Qué hacemos */
  .company_img-paris{
    width:100%;
  }
  /* Imágen frase - sección Qué hacemos */
  .company_img-message{
    width:100%;
  }
}
/* Resoluciones medianas y pequeñas */
@media (max-width:767px) {
  /* sombra contenedor formularios oragnismos - convocatorias */
  .shadow-lg-responsive{
      /* PROBAR EN EL CASO QUE LES GUSTE LA SOMBRA SOLO EN AL COSTADO Y DEBAJO */
    /* box-shadow: 4px 4px 4px #8c8c8c; */
    box-shadow: none !important;
  }

  /* imágen making bids succeed seccion: nosotros  */
  .about-makingBids{
    width:90%;
  }

  /* imágen pantuflas seccion: nosotros  */
  .about-slippers{
    width: 40%;
  }
}

